{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% set pageName="Home" %}

{% block header %}
  {% include "partials/header.njk" %}
{% endblock %}

{%- from "moj/components/header/macro.njk" import mojHeader -%}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Client: {{ baseClient.baseClientId }}
      </h1>

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Client ID"
          },{
            text: "Created"
          },{
            text: "Last accessed"
          },{
            text: ""
          }
        ],
        rows: presenter.clientsTable,
        attributes: {
          "data-qa": "client-instance-list"
        }
      }) }}

      <form class="govuk-grid-row" action="/base-clients/{{ baseClient.baseClientId }}/clients" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-column-one-quarter">
          {{ govukButton({
            text: "Add new client",
            attributes: {
              "data-qa": "add-new-client-button"
            }
          }) }}
        </div>
      </form>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Base client details</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/base-clients/{{ baseClient.baseClientId }}/edit" data-qa='change-client-details-link'>Change
            client details</a>
        </div>
      </div>

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Base client"
          },{
            text: baseClient.baseClientId
          }],
        rows: [
          [
            {
              text: "Access token validity"
            },{
            text: baseClient.accessTokenValidity
          }
          ],[
            {
              text: "Approved scopes"
            },{
              html: toLinesHtml(baseClient.scopes)
            }
          ]
        ],
        attributes: {
          "data-qa": "base-client-details-table"
        }
      }) }}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Audit trail"
          },{
            text: ""
          }],
        rows: [
          [{
            text: "Details"
          },{
            text: baseClient.audit
          }]
        ],
        attributes: {
          "data-qa": "base-client-audit-table"
        }
      }) }}



      {% if baseClient.grantType == "client_credentials" %}
        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Grant details"
            },{
              text: ""
            }],
          rows: [
            [
              {
                text: "Grant type"
              },{
              text: "Client credentials"
            }
            ],[
              {
                text: "Roles"
              },{
                html: toLinesHtml(baseClient.clientCredentials.authorities)
              }
            ],[
              {
                text: "Database username"
              },{
                text: baseClient.clientCredentials.databaseUserName
              }
            ]
          ],
          attributes: {
            "data-qa": "base-client-client-credentials-table"
          }
        }) }}
      {% endif %}

      {% if baseClient.grantType == "authorization_code" %}
        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Grant details"
            },{
              text: ""
            }],
          rows: [
            [
              {
                text: "Grant type"
              },{
              text: "Authorization code"
            }
            ],[
              {
                text: "Registered redirect URIs"
              },{
                html: toLinesHtml(baseClient.authorisationCode.registeredRedirectURIs)
              }
            ],[
              {
                text: "JWT Fields Configuration"
              },{
                text: baseClient.authorisationCode.jwtFields
              }
            ],[
              {
                text: "Azure Ad login flow"
              },{
                text: baseClient.authorisationCode.azureAdLoginFlow
              }
            ]
          ],
          attributes: {
            "data-qa": "base-client-authorization-code-table"
          }
        }) }}
      {% endif %}


      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Config"
          },{
            text: ""
          }],
        rows: [
          [
            {
              text: "Allow client to expire"
            },{
            text: presenter.expiry
          }
          ],[
            {
              text: "Allowed IPs"
            },{
              html: toLinesHtml(baseClient.config.allowedIPs)
            }
          ]
        ],
        attributes: {
          "data-qa": "base-client-config-table"
        }
      }) }}


      {% if baseClient.grantType == "authorization_code" %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Service details</h2>
          </div>
          <div class="govuk-grid-column-one-third">
            <a class="govuk-link" href="/clients/{{ baseClient.baseClientId }}/edit-service-details">Change
              service details</a>
          </div>
        </div>

        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Service details"
            },{
              text: ""
            }],
          rows: [
            [
              {
                text: "Name"
              },{
              text: baseClient.service.serviceName
            }
            ],[
              {
                text: "Description"
              },{
                text: baseClient.service.description
              }
            ],[
              {
                text: "Authorised roles"
              },{
                html: toLinesHtml(baseClient.service.authorisedRoles)
              }
            ],[
              {
                text: "URL"
              },{
                text: baseClient.service.url
              }
            ],[
              {
                text: "Contact URL/email"
              },{
                text: baseClient.service.contact
              }
            ],[
              {
                text: "Status"
              },{
                text: presenter.serviceEnabledLabel
              }
            ]
          ],
          attributes: {
            "data-qa": "base-client-service-table"
          }
        }) }}
      {% endif %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Deployment details</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/base-clients/{{ baseClient.baseClientId }}/deployment" data-qa='change-deployment-details-link'>Change
            deployment details</a>
        </div>
      </div>

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Contact"
          },{
            text: ""
          }],
        rows: [
          [
            {
              text: "Client type"
            },{
              text: capitalize(baseClient.deployment.clientType)
            }
          ],
          [
            {
              text: "Team"
            },{
            text: baseClient.deployment.team
          }
          ],
          [
            {
              text: "Team contact"
            },{
            text: baseClient.deployment.teamContact
          }
          ],
          [
            {
              text: "Team slack"
            },{
            text: baseClient.deployment.teamSlack
          }
          ]
        ],
        attributes: {
          "data-qa": "base-client-deployment-contact-table"
        }
      }) }}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Platform"
          },{
            text: ""
          }],
        rows: [
          [
            {
              text: "Hosting"
            },{
            text: baseClient.deployment.hosting
          }
          ],
          [
            {
              text: "Namespace"
            },{
            text: baseClient.deployment.namespace
          }
          ],
          [
            {
              text: "Deployment"
            },{
            text: baseClient.deployment.deployment
          }
          ],
          [
            {
              text: "Secret name"
            },{
            text: baseClient.deployment.secretName
          }
          ],
          [
            {
              text: "Client id key"
            },{
            text: baseClient.deployment.clientIdKey
          }
          ],
          [
            {
              text: "Secret key"
            },{
            text: baseClient.deployment.secretKey
          }
          ],
          [
            {
              text: "Deployment info"
            },{
            text: baseClient.deployment.deploymentInfo
          }
          ]
        ],
        attributes: {
          "data-qa": "base-client-deployment-platform-table"
        }
      }) }}

    </div>

  </div>

{% endblock %}
