{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% set pageName="Home" %}
{% set bodyClasses = "extra-wide" %}

{%- from "moj/components/header/macro.njk" import mojHeader -%}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}

{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% set filterOptionsHtml %}

  {{ govukInput({
    id: 'role',
    name: 'role',
    label: {
      text: 'Role',
      classes: 'govuk-label--m'
    },
    attributes: {
      'data-qa': 'roleFilterInputBox'
    },
    value: presenter.filter.roleSearch
  }) }}

  {{ govukRadios({
    name: "grantType",
    classes: "govuk-radios--small",
    fieldset: {
      legend: {
        text: "Grant type",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "all",
        text: "All",
        checked: 'grantType' not in  presenter.filter
      },
      {
        value: "client-credentials",
        text: "Client credentials",
        checked: presenter.filter.grantType === "client_credentials"
      },
      {
        value: "authorization-code",
        text: "Authorization code",
        checked: presenter.filter.grantType === "authorization_code"
      }
    ]
  }) }}

  {{ govukRadios({
    name: "filterClientType",
    classes: "govuk-radios--small",
    fieldset: {
      legend: {
        text: "Client type",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "all",
        text: "All",
        checked: 'clientType' not in  presenter.filter
      },
      {
        value: "clientFilter",
        text: "Filter",
        checked: 'clientType' in  presenter.filter,
        conditional: {
        html: govukCheckboxes({
          idPrefix: 'client-type',
          name: 'clientType',
          classes: "govuk-checkboxes--small",
          items: [
            {
              value: 'service',
              text: 'Service',
              checked: 'clientType' in  presenter.filter and 'service' in presenter.filter.clientType
            },
            {
              value: 'personal',
              text: 'Personal',
              checked: 'clientType' in  presenter.filter and 'personal' in presenter.filter.clientType
            },
            {
              value: 'blank',
              text: '[blank]',
              checked: 'clientType' in  presenter.filter and 'blank' in presenter.filter.clientType
            }
          ]
        })
      }
      }
    ]
  }) }}

{% endset %}

{% block content %}

  <form class="moj-filter-layout" action='/' method='POST'>

    <div class="moj-filter-layout__filter">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% if presenter.showSelectedFilters %}
        {{ mojFilter({
          heading: {
            text: 'Filter'
          },
          selectedFilters: {
            heading: {
              text: 'Selected filters'
            },

            clearLink: {
              text: 'Clear filters',
              href: '/'
            },

            categories: presenter.selectedFilterCategories
          },
          optionsHtml: filterOptionsHtml
        }) }}
      {% else %}
      {{ mojFilter({
        heading: {
          text: 'Filter'
        },
        optionsHtml: filterOptionsHtml
      }) }}
      {% endif %}

    </div>

    <div class="moj-filter-layout__content">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-xl">
            OAuth Client details
          </h1>
          <h2 class="govuk-heading-l">Clients</h2>
        </div>
      </div>

      <div class="moj-action-bar">

        <div class="moj-action-bar__filter"></div>
        {% if isReadOnly %}
          {{ mojButtonMenu({
            items: []
          }) }}
        {% else %}
          {{ mojButtonMenu({
            items: [{
              text: 'Add new client',
              href:"/base-clients/new",
              classes: 'govuk-button--primary',
              attributes: {
                'data-qa': 'addNewBaseClientButton'
              }
            }]
          }) }}
        {% endif %}

        <div class="moj-action-bar__filterTagsContainer"></div>
      </div>

      <div class="moj-scrollable-pane">
        {{ govukTable({
          firstCellIsHeader: true,
          attributes: {
            'data-module': 'moj-sortable-table'
          },
          head: presenter.tableHead,
          rows: presenter.tableRows
        }) }}
      </div>
    </div>
  </form>
{% endblock %}

  {% block pageScripts %}
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/initMOJFilterPage.js"></script>
  {% endblock %}
