{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Add base client" %}
{% set mainClasses = "app-container govuk-body" %}

{% set pageName="Home" %}

{% block header %}
  {% include "partials/header.njk" %}
{% endblock %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}
  <div class="govuk-grid-row">
    <form class="govuk-grid-column-two-thirds" action="/base-clients/new" method="GET">

      {{ govukRadios({
        name: "grant",
        value: "client-credentials",
        fieldset: {
          legend: {
            text: "Select a grant type",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "client-credentials",
            text: "Client credentials",
            attributes: {
              "data-qa": "client-credentials-radio"
            }
          },
          {
            value: "authorization-code",
            text: "Authorization code",
            disabled: enableAuthorizationCode === false,
            attributes: {
              "data-qa": "authorization-code-radio"
            }
          }
        ],
        attributes: {
          "data-qa": "grant-type-radio-group"
        }
      }) }}


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          type: "submit",
          preventDoubleClick: true,
          attributes: {
            "data-qa": "continue-button"
          }
        }) }}
        <a href="/" role="button" class="govuk-button govuk-button--secondary" data-qa='cancel-link'>Cancel</a>
      </div>

    </form>
  </div>

{% endblock %}
